body{
    background-color:#F4D04E ;
    font-family: Figtree;
}


.card{
    background-color: #fff;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    padding:24px;
    width:384px;
    border-radius: 20px;
    box-shadow: 8px 8px 0 0 #000
}

.learning{
    margin-top: 24px;
    background-color: #F4D04E;
   border-radius: 4px;
color: var(--color-gray-950, #111);
/* text-preset-3-bold */
font-family: Figtree;
font-size: var(--font-size-text-preset-3, 14px);
font-style: normal;
font-weight: 800;
line-height: 150%;
width:70px;
text-align: center;
}

.published-date{
    margin-top:12px;
color: var(--color-gray-950, #111);
/* text-preset-3 */
font-family: Figtree;
font-size: var(--font-size-text-preset-3, 14px);
font-style: normal;
font-weight: 500;
line-height: 150%; /* 21px */

}

h1{
    align-self: stretch;
    color: var(--color-gray-950, #111);
/* text-preset-1 */
font-family: Figtree;
font-size: var(--spacing-200, 24px);
font-style: normal;
font-weight: 800;
line-height: 150%; /* 36px */
}

.description{
    color: var(--color-gray-500, #6B6B6B);
/* text-preset-2 */
font-family: Figtree;
font-size: var(--font-size-text-preset-2, 16px);
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
}

.icon-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    gap:12px;
}

span{
    color: var(--color-gray-950, #111);
/* text-preset-3-bold */
font-family: Figtree;
font-size: var(--font-size-text-preset-3, 14px);
font-style: normal;
font-weight: 800;
line-height: 150%; /* 21px */
}


@font-face {
    font-family: 'Figtree';
    src: url('../fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('../fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
